form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  font-size: 22px;
}

label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

input {
  height: 45px;
  background: #62b1cf;
  border: 2px solid black;
  border-radius: 20px;
}

button {
  height: 50px;
  background: #62b1cf;
  border: 2px solid black;
  border-radius: 20px;
}

#update-flight-btn {
  height: 80px;
  width: 250px;
  background: #62b1cf;
  border: 2px solid black;
  border-radius: 20px;
}