table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #b8c0c2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  color: #d2a128;
}

#list a:visited{
  color: #113f60;
}

#list a:hover {
  background-color: white;
}

#remove-flight-btn {
  border-radius: 4px;
  background-color: #83c2a3;
  padding: 4px;
  text-decoration: none;
  font-size: 12px;
  color: #113f60;
}

#remove-flight-btn:hover {
  background-color: white;
}